/*================*/
/* Globals        */
/*================*/

html {
	font-size: 18px;
	line-height: 1.4;
}

body {
	font-family: "Helvetica", sans-serif;
	color: white;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
	.container {
		max-width: 100%;
	}
}


/*================*/
/* Banner         */
/*================*/

#banner {
	background-image: url(./images/glasses-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 30rem;
}

@media only screen and (max-width: 1024px) {
	#banner {
		height: 22rem;
	}
}

@media only screen and (max-width: 530px) {
	#banner {
		height: 17rem;
		background-position: 20%;
	}
}

header {
	display: flex;
	align-items: center;
}

.headingNav {
	display: flex;
	position: relative;
	top: 1rem;
	background-color: cadetblue;
	justify-content: space-between;	
}

#menuMobile {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.headingNav {
		position: relative;
		top: 0rem;
	}
}

@media only screen and (max-width: 530px) {
	#regular {
		display: none;
	}

	#menuMobile {
		display: inline-block;
	}
}

ul {
	display: flex;
	align-items: center;	
}

.image {
	height: 1.5rem;
	padding-left: 2rem;
}

li {
	padding: 1rem 2rem 1rem 0;
}

header h3 {
	padding-left: 1rem;
}

#catchphrase {
	display: inline-block;
}

#catchphrase h1 {
	margin-top: 10rem;
	background-color: white;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	color: black;
	padding: 1.5rem 5rem;	
}

.container #catchphrase {
	display: flex;
	justify-content: flex-end;
	margin-right: -2rem;
}

@media only screen and (max-width: 1024px) {
	#catchphrase h1 {
		margin-top: 5rem;
		font-size: 1.33rem;
		padding: 0.75rem 4rem;		
	}

	.container #catchphrase {
		margin-right: 2rem;
	}
}

@media only screen and (max-width: 530px) {
	#catchphrase h1 {
		margin-top: 9rem;
		font-size: 1rem;
		text-align: center;
	}

	#catchphrase h1 {
		width: 100%;
	}
	.container #catchphrase {
		margin: 0;
	}
}

/*================*/
/* Product Images */
/*================*/


#products {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

.description  {
	display: block;
	color: black;
	text-align: center;
}

.thumbnail {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 8rem;
	max-width: 5rem;
	margin-right: 6rem;
}

img {
	max-width: 3.5rem;
}

@media only screen and (max-width: 533px) {
	#products {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-top: 3.77rem;
	}

	.thumbnail {
		margin-right: 0;
		padding-top: 1.54rem;
		justify-content: space-around;

	}

	.description {
		font-size: 0.77rem;
	}
}

/*================*/
/*Support         */
/*================*/

#supportingContent {
	display: flex;	
	margin-top: 3rem;
}



#supportingContent h2 {
	background-color: cadetblue;
}

.content {
	max-width: 35%;
}

.content h2 {
	max-width: 10rem;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 0 0.5rem 1.25rem;
}

.content p {
	color: black;
	margin-top: 1rem;
}

.content.philo {
	margin-right: 5%;
}

@media only screen and (max-width: 533px) {
	#supportingContent {
		display: flex;
		flex-direction: column;
	}	

	.content {
		margin-bottom: 4rem;
	}

	.content,
	.content h2 {
		max-width: 100%;
	}

	.content.philo {
		margin-right: 0;
	}

	.content h2 {
		text-align: center;
	}
}

/*================*/
/*Footer          */
/*================*/

footer {
	display: flex;
	align-items: center;
	background-color: azure;
	height: 8.5rem;
}

.footer {
	display: flex;
	color: black;
}

.footer h3 {
	padding-left: 1rem;
}

footer.container {
	margin-top: 5rem;
}

.footerImg {
	height: 1.5rem;
	padding-left: 4rem;
}

@media only screen and (max-width: 533px) {
	.footer h3 {
		display: none;
	}

	footer {
		justify-content: center;
	}

	.footerImg {
		padding: 0;
	}
}









