/*================*/
/* Globals        */
/*================*/

html {
	font-size: 18px;
	line-height: 1.4;
}

body {
	font-family: "Helvetica", sans-serif;
	color: white;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/*================*/
/* Banner         */
/*================*/

#banner {
	background-image: url(./images/glasses-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 30rem;
}

header {
	display: flex;
	align-items: center;
}

.headingNav {
	display: flex;
	position: relative;
	top: 1rem;
	background-color: cadetblue;
	justify-content: space-between;	
}

ul {
	display: flex;
	align-items: center;	
}

.image {
	height: 1.5rem;
	padding-left: 2rem;
}

li {
	padding: 1rem 2rem 1rem 0;
}

header h3 {
	padding-left: 1rem;
}

#catchphrase {
	display: inline-block;
}

#catchphrase h1 {
	margin-top: 10rem;
	background-color: white;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	color: black;
	padding: 1.5rem 5rem;	
}

.container #catchphrase {
	display: flex;
	justify-content: flex-end;
	margin-right: -2rem;
}

/*================*/
/* Product Images */
/*================*/


#products {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

.description  {
	display: block;
	color: black;
	text-align: center;
}

.thumbnail {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 8rem;
	max-width: 5rem;
	margin-right: 6rem;
}

img {
	max-width: 3.5rem;
}

/*================*/
/*Support         */
/*================*/

#supportingContent {
	display: flex;	
	margin-top: 3rem;
}

#supportingContent h2 {
	background-color: cadetblue;
}

.content {
	max-width: 35%;
}

.content h2 {
	max-width: 10rem;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 0 0.5rem 1.25rem;
}

.content p {
	color: black;
	margin-top: 1rem;
}

.content.philo {
	margin-right: 5%;
}









